<div class="flex flex-wrap items-center justify-center gap-2">
  <% follows.each do |following| %>

    <% if following.avatar.attached? %>
      <div class="bg-cover" style="background-image: url('<%= url_for(following.avatar.variant(:xlarge)) %>')">
        <a href="<%= user_path(following) %>">
          <div class="p-[65px] md:p-[95px] lg:p-[124px]"></div>
        </a>
      </div>
    <% else %>
      <div class="bg-cover" style="background-image: url('<%= url_for(following.gravatar_url) %>')">
        <a href="<%= user_path(following) %>">
          <div class="p-[65px] md:p-[95px] lg:p-[124px]"></div>
        </a>
      </div>
    <% end %>

  <% end %>
</div>