<div class="flex justify-center items-center text-center relative">
  <div class="text-neutral-100 devise-form lg:py-[150px]">
    <h1 class="text-2xl font-bold text-neutral-100">New comment</h1>
    <%= render "new-form" %>
  </div>
</div>