<div class="flex flex-wrap items-center justify-center gap-2">
  <% follows.each do |following| %>
    <div class="bg-cover" style="background-image: url('<%= url_for(following.gravatar_url) %>')">
      <a href="<%= user_path(following) %>">
        <div class="p-[65px] md:p-[95px] lg:p-[124px]"></div>
      </a>
    </div>
  <% end %>
</div>