<div class="flex w-[100%] flex-col">
  <%= render partial: "profile", locals: { user: @user } %>
  <div class="flex justify-center lg:w-[100%] m-[15px]">
    <div class="bg-neutral-800 rounded-lg p-[20px] lg:p-[50px] lg:w-[50%] break-normal flex flex-col gap-5">
      <% if @about == "" %>
        <p class="italic">Nothing here yet.</p>
      <% else %>
        <%= simple_format(@about) %>
      <% end %>
      <div class="self-end">
        <% if current_user == @user %>
          <%= link_to "Edit", edit_profile_path(@user.profile), class: "inline-block px-3 py-2 leading-none rounded text-neutral-500 hover:text-neutral-100 border border-neutral-500 hover:bg-neutral-500" %>
        <% end %>
      </div>
    </div>
  </div>
</div>