<div class="flex w-[100%] flex-col">
  <%= render partial: "profile", locals: { user: @user } %>
  <div class="my-[15px]">
    <%= render partial: "follows", locals: { follows: @followers } %>
  </div>
</div>