<div class="flex flex-col text-neutral-200 my-[10px]">
  <div class="flex flex-col items-center">
    <% if @user.avatar.attached? %>
      <div>
        <%= image_tag @user.avatar, class: "w-[75px] lg:w-[150px] min-w-[50px] rounded-lg" %>
      </div>
    <% else %>
      <div>
        <%= image_tag @user.gravatar_url, class: "w-[75px] lg:w-[150px] min-w-[50px] rounded-lg" %>
      </div>
    <% end %>
    <h1 class="text-2xl font-bold mt-[10px]">
      @<%= @user.username %>
    </h1>
  </div>

  <div class="mt-[100px]">
    <%= render partial: "shared/posts", locals: { posts: @posts } %>
  </div>
</div>