<footer class="w-[100%] p-4 shadow md:flex md:items-center md:justify-between md:p-6 bg-neutral-800">
  <div>
    <span class="text-sm sm:text-center text-neutral-200">Header image by <a href="https://unsplash.com/photos/_RnbxS6vUb8" class="hover:underline font-bold">Jeremy Hynes</a></span>
  </div>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-neutral-200 sm:mt-0">
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
    </li>
    <li>
      <a href="https://github.com/tailflail/kitsune" class="mr-4 hover:underline md:mr-6">GitHub</a>
    </li>
    <li>
      <a href="mailto:jacob.mccann@hotmail.com" class="hover:underline">Contact</a>
    </li>
  </ul>
</footer>