<div class="flex justify-center text-center relative">
  <div class="text-neutral-100 devise-form">
    <h1 class="text-2xl font-bold text-neutral-100">Create a new post</h1>
    <%= render "form" %>
  </div>
</div>